.el-input {
    --el-input-text-color: #333;
    --el-input-transparent-border: 0 0 0 0 transparent inset;
    --el-input-border-color: #808080;
    --el-input-border-radius: 8px;
    --el-input-icon-color: #000000f2;
    --el-input-placeholder-color: #000000b2;
    --el-input-hover-border-color: #000;
    --el-input-focus-border-color: #000;
}
.el-input-number {
    width: 110px;
    .el-input-number__decrease {
        border-radius: 8px 0 0 8px;
        border-right-color: #808080;
    }
    .el-input-number__increase {
        border-radius: 0 8px 8px 0;
        border-left-color: #808080;
    }
    .el-input-number__decrease.is-disabled,
    .el-input-number__increase.is-disabled {
        color: #808080;
    }
    .el-input__wrapper {
        padding: 0 35px;
    }
}

.input-number {
    width: 50px;
    .el-input__wrapper {
        padding: 0 5px;
    }
}
