body {
    width: 100vw;
    overflow-x: hidden;
}
.page-container {
    min-height: 100vh;
    min-width: 950px;
    overflow: hidden;
    background: #f0f0f0;
    input {
        border: none !important;
        padding: 0 !important;
        line-height: var(--el-input-inner-height) !important;
    }
}
